localhost ansible_connection=local

[OSEv3:vars]
ansible_ssh_private_key_file="~/.ssh/openshift-dev.pem"
ansible_user=cloud-user
ansible_become=True

[OSEv3:children]
masters
nodes
etcd
new_etcd
new_masters
new_nodes
lb

[masters]
%{for host in master ~}
${host}
%{endfor ~}

[compute]
%{for host in compute ~}
${host}
%{endfor ~}

[infra]
%{for host in infra ~}
${host}
%{endfor ~}

[nodes:children]
masters
compute
infra

[etcd:children]
masters


